
body{color:blueviolet;}

// <weight>: Use a value from 200 to 700
// <uniquifier>: Use a unique and descriptive class name

.stack-sans-text-<uniquifier> {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* Id selection */
#content-content{
}

/* Tag selection */
div{
}

.wrap p{
	font-family: Arial, sans-serif;
	color: #black;
	font-size: 14px;
	line-height: 1.2em;
}
img{
	width: 60%;
}
body{
	padding-left:20%;
	padding-right: 25%;
	background-color:lightblue;

}

h1{
	font-family: Arial, sans-serif;
	color: #363636;
	font-size: 50px;
}

.chart-section {
  margin: 72px 0;
}

.chart-container {
  margin: 36px 0;
}

.chart1 {
  display: block;  
  margin: 80px 0;
}

.chart-caption {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #555;
}